body {
  font-family: 'Zilla Slab', serif;
  margin: 0;
  text-align: center;
  color: #40514E;
 left: 30px;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.62rem;
  margin: 50px auto 100px auto;
  color: #e2eeee;
  text-shadow: 2px 2px #140f0f;
}

h2 {
  font-size: 2.5rem;
  color: #66BFBF;
  padding-bottom: 10px
}

h3 {
  color: #11999E;
}

hr {
  width: 7%;
  border-style: dotted none none;
  border-width: 8px;
  border-color: #EAF6F6;
  margin: 100px auto
}

p {
  line-height: 2;
}

a{
  color: #11999E;
  font-family: 'Zilla Slab', serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color:#eaf6f6;
}

.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
  background-image: url(mountains.jpg) ;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
}

.skill-row {
  width: 70%;
  display: inline-block;
  text-align: left;
}

.lil-bio {
  width: 40%;
  margin: auto;
}

.dog-training {
  color: #11999E;
  width: 25%;
  float: left;
 
}

.rubic-cube {
  color: #11999E;
  width: 25%;
  float: right;
  margin-left: 30px;
  padding-top: 30px;
}

.middle-container {
  margin: 50px 0
}

.bottom-container {
  background-color: #66BFBF;
  padding: 3rem 0 2rem;
}

.pro {
  text-decoration: underline;
}

.pro-grammer {
  color: #eaf5f5;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 30px;
  text-shadow: 2px 2px #0a0606;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px
}

.top-cloud {
  position: absolute;
  right: 275px;
  top: 50px;
}

.bottom-cloud {
  bottom: 300px;
  left: 250px;
  position: absolute;
}

.profile-picture {
  height: 250px;
  width: 250px;
}

.trouble {
  text-decoration: line-through;
}

.copyright {
  color: #EAF6F6;
  font-size:0.75rem;
}


.btn {
  box-shadow: 0 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #11cdd4 5%, #119999 100%);
  background-color: #11cdd4;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Zilla Slab', serif;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0 1px 0 #3d768a;
}

.btn:hover {
  background: linear-gradient(to bottom, #119999 5%, #11cdd4 100%);
  background-color: #119999;
}

.btn:active {
  position: relative;
  top: 1px;
}

.navbar {
  box-sizing: border-box;
  margin: 0;
  padding 0;
  background-color: #75d3d3;

}

.nav-item{
  font-family:  'Zilla Slab', serif;
  font-weight: 400;
  font-size: 16px;
  color:#EAF6F6
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
li{
  display: inline;
}
.h1-aboutMe{
  font-family: 'Sacramento', cursive;
  font-size: 5.62rem;
  margin: 50px auto 100px auto;
  color: #244d4d;
  text-shadow: 2px 2px #140f0f;
}
.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}